security.protocol=SASL_SSL
ssl.protocol=TLS
ssl.keystore.type=PKCS12
ssl.keystore.location={{ confluent_config.kafka_server.etc_directory }}/pki/admin.p12
ssl.keystore.password={{ kafka_admin_keystore_password }}
ssl.truststore.type=PKCS12
ssl.truststore.location={{ confluent_config.kafka_server.etc_directory }}/pki/ca.p12
ssl.truststore.password={{ ca_truststore_password }}
sasl.mechanism=SCRAM-SHA-256
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="{{ confluent_config.kafka_server.users.admin.username }}" password="{{ kafka_server_admin_user_password }}";
