# {{ansible_managed}}

[Unit]
Description=Confluent Kafka Server Service
Documentation=https://confluent_config.io
Requires=network.target remote-fs.target
After=network.target remote-fs.target
StartLimitBurst=360
StartLimitIntervalSec=3600

[Service]
Type=simple
User={{ confluent_config.kafka_server.user }}
Group={{ confluent_config.kafka_server.group }}
Environment="LOG_DIR={{ confluent_config.kafka_server.log_directory }}"
Environment="EXTRA_ARGS={% if confluent_config.kafka_server.prometheus_jmx_exporter.enabled|bool %}-javaagent:/opt/prometheus/lib/jmx_prometheus_javaagent.jar={{ confluent_config.kafka_server.prometheus_jmx_exporter.port }}:{{ confluent_config.kafka_server.etc_directory }}/conf/prometheus_jmx_exporter.yaml{% endif %} -Dzookeeper.jmx.log4j.disable=true -Djava.security.auth.login.config={{ confluent_config.kafka_server.etc_directory }}/conf/server-jaas.conf {% if confluent_config.kafka_server.enable_remote_jmx|bool %}-Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.local.only=false -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname={{ inventory_hostname }} -Dcom.sun.management.jmxremote.port=10001 -Dcom.sun.management.jmxremote.rmi.port=10000{% endif %}"
ExecStart=/opt/confluent/bin/kafka-server-start {{ confluent_config.kafka_server.etc_directory }}/conf/server.properties
ExecStop=/opt/confluent/bin/kafka-server-stop {{ confluent_config.kafka_server.etc_directory }}/conf/server.properties
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target





