zookeeper.clientCnxnSocket=org.apache.zookeeper.ClientCnxnSocketNetty
zookeeper.ssl.client.enable=true
zookeeper.ssl.keystore.type=PKCS12
zookeeper.ssl.keystore.location={{ confluent_config.kafka_server.etc_directory }}/pki/{{ inventory_hostname_short }}.p12
zookeeper.ssl.keystore.password={{ kafka_server_keystore_password }}
zookeeper.ssl.truststore.type=PKCS12
zookeeper.ssl.truststore.location={{ confluent_config.kafka_server.etc_directory }}/pki/ca.p12
zookeeper.ssl.truststore.password={{ ca_truststore_password }}
