# {{ansible_managed}}

[Unit]
Description=Kafka MirrorMaker Service
Documentation=http://kafka.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User={{ kafka_mirrormaker_user }}
Group={{ kafka_mirrormaker_group }}
Environment=LOG_DIR={{ kafka_mirrormaker_log_directory }}
ExecStart=/opt/kafka/bin/connect-mirror-maker.sh {{ kafka_mirrormaker_etc_directory }}/conf/mirrormaker.properties
ExecStop=/opt/kafka/bin/connect-mirror-maker.sh {{ kafka_mirrormaker_etc_directory }}/conf/mirrormaker.properties
Restart=always

[Install]
WantedBy=multi-user.target




