# {{ansible_managed}}

[Unit]
Description=Kafka MirrorMaker Service
Documentation=http://kafka.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User={{ kafka.kafka_mirrormaker.user }}
Group={{ kafka.kafka_mirrormaker.group }}
Environment=LOG_DIR={{ kafka.kafka_mirrormaker.log_directory }}
ExecStart=/opt/kafka/bin/connect-mirror-maker.sh {{ kafka.kafka_mirrormaker.etc_directory }}/conf/mirrormaker.properties
ExecStop=/opt/kafka/bin/connect-mirror-maker.sh {{ kafka.kafka_mirrormaker.etc_directory }}/conf/mirrormaker.properties
Restart=always

[Install]
WantedBy=multi-user.target




