apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: kibana-gateway
  namespace: monitoring-system
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      number: 5601
      name: https-kibana
      protocol: HTTPS
    hosts:
    - "*"
    tls:
      mode: SIMPLE
      credentialName: ingressgateway-certs
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: kibana-vs
  namespace: monitoring-system
spec:
  hosts:
  - "*"
  gateways:
  - kibana-gateway
  http:
  - match:
    - port: 5601
    route:
    - destination:
        host: kibana
        port:
          number: 5601
---
