clusterName: "elasticsearch"

nodeGroup: "master"

roles:
  master: "true"
  ingest: "true"
  data: "true"
  
replicas: 1

minimumMasterNodes: 1

esJavaOpts: "-Xmx512m -Xms512m"

resources:
  requests:
    cpu: "100m"
    memory: "768Mi"
  limits:
    cpu: "1"
    memory: "1024Mi"

initResources:
  requests:
    cpu: "25m"
    memory: "64Mi"
  limits:
    cpu: "1"
    memory: "196Mi"

sidecarResources:
  requests:
    cpu: "25m"
    memory: "64Mi"
  limits:
    cpu: "25m"
    memory: "128Mi"

volumeClaimTemplate:
  accessModes: [ "ReadWriteOnce" ]
  storageClassName: {{ monitoring_elasticsearch_persistent_volume_storage_class_name }}
  resources:
    requests:
      storage: {{ monitoring_elasticsearch_persistent_volume_size }}
      
antiAffinity: "soft"

{% if ((monitoring_security_enabled is defined) and (monitoring_security_enabled != None) and (monitoring_security_enabled == True))  %}

esConfig:
  elasticsearch.yml: |
    xpack.security.enabled: true
    xpack.security.transport.ssl.enabled: true
    xpack.security.transport.ssl.verification_mode: certificate
    xpack.security.transport.ssl.key: /usr/share/elasticsearch/config/certs/elasticsearch-key.pem
    xpack.security.transport.ssl.certificate: /usr/share/elasticsearch/config/certs/elasticsearch-cert.pem
    xpack.security.transport.ssl.certificate_authorities: /usr/share/elasticsearch/config/certs/ca.pem
    xpack.security.http.ssl.enabled: false
#     xpack.security.http.ssl.key: /usr/share/elasticsearch/config/certs/elasticsearch-key.pem
#     xpack.security.http.ssl.certificate: /usr/share/elasticsearch/config/certs/elasticsearch-cert.pem
#     xpack.security.http.ssl.certificate_authorities: /usr/share/elasticsearch/config/certs/ca.pem

extraEnvs:
- name: ELASTIC_USERNAME
  valueFrom:
    secretKeyRef:
      name: elasticsearch-credentials
      key: username
- name: ELASTIC_PASSWORD
  valueFrom:
    secretKeyRef:
      name: elasticsearch-credentials
      key: password

secretMounts:
- name: elasticsearch-certs
  secretName: elasticsearch-certs
  path: /usr/share/elasticsearch/config/certs

{% endif %}



