# See: https://github.com/jaegertracing/helm-charts/tree/master/charts/jaeger

provisionDataStore:
  cassandra: false
  elasticsearch: false
  
storage:
  type: elasticsearch
  elasticsearch:
    host: elasticsearch-master
    port: 9200
    scheme: http
    existingSecret: jaeger-elasticsearch-credentials
    
query:
  service:
{% if ((istio_enabled is defined) and (istio_enabled != None) and (istio_enabled == true)) %}
    type: ClusterIP
    port: 16686
    targetPort: 16686
{% else %}
    type: NodePort
    port: 16686
    targetPort: 16686
    nodePort: 32510
{% endif %}
    
# collector:
#   autoscaling:
#     enabled: false
#     minReplicas: 1
#     maxReplicas: 2
#     targetCPUUtilizationPercentage: 80

# esIndexCleaner:
#   enabled: false
#   numberOfDays: 7
#   schedule: "55 23 * * *"
#   successfulJobsHistoryLimit: 5
#   failedJobsHistoryLimit: 5
    
# query:
#   cmdlineParams:
#     es.tls.ca: "/tls/es.pem"
#   extraConfigmapMounts:
#     - name: jaeger-tls
#       mountPath: /tls
#       subPath: ""
#       configMap: jaeger-tls
#       readOnly: true
# collector:
#   cmdlineParams:
#     es.tls.ca: "/tls/es.pem"
#   extraConfigmapMounts:
#     - name: jaeger-tls
#       mountPath: /tls
#       subPath: ""
#       configMap: jaeger-tls
#       readOnly: true
# spark:
#   enabled: true
#   cmdlineParams:
#     java.opts: "-Djavax.net.ssl.trustStore=/tls/trust.store -Djavax.net.ssl.trustStorePassword=changeit"
#   extraConfigmapMounts:
#     - name: jaeger-tls
#       mountPath: /tls
#       subPath: ""
#       configMap: jaeger-tls
#       readOnly: true


