kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name:  default-local-storage
provisioner: topolvm.cybozu.com
parameters:
  "csi.storage.k8s.io/fstype": "xfs"
allowVolumeExpansion: true
volumeBindingMode: WaitForFirstConsumer