# {{ansible_managed}}

[Unit]
Description=Kafka Server Service
Documentation=http://kafka.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
Group=kafka
Environment=LOG_DIR={{ kafka_server_log_directory }}
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh /opt/kafka/config/server.properties

[Install]
WantedBy=multi-user.target
