Client {
  org.apache.zookeeper.server.auth.DigestLoginModule required
  username="kafka"
  password="{{ kafka_server_zookeeper_kafka_user_password }}";
};

KafkaServer {
  org.apache.kafka.common.security.scram.ScramLoginModule required
  username="kafka"
  password="{{ kafka_server_kafka_user_password }}";
};
