zookeeper.clientCnxnSocket=org.apache.zookeeper.ClientCnxnSocketNetty
zookeeper.ssl.client.enable=true
zookeeper.ssl.keystore.location={{ kafka_etc_directory }}/pki/server.jks
zookeeper.ssl.keystore.password={{ kafka_server_keystore_password }}
zookeeper.ssl.truststore.location={{ kafka_etc_directory }}/pki/ca.jks
zookeeper.ssl.truststore.password={{ kafka_ca_truststore_password }}
