zookeeper.clientCnxnSocket=org.apache.zookeeper.ClientCnxnSocketNetty

zookeeper.ssl.client.enable=true
zookeeper.ssl.keystore.location={{ kafka_server_etc_directory }}/pki/kafka-{{ kafka_cluster_name }}-server.jks
zookeeper.ssl.keystore.password={{ kafka_server_keystore_password }}
zookeeper.ssl.truststore.location={{ kafka_server_etc_directory }}/pki/kafka-{{ kafka_cluster_name }}-server.jks
zookeeper.ssl.truststore.password={{ kafka_server_keystore_password }}

