# {{ansible_managed}}

[Unit]
Description=Kafka ZooKeeper Service
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
Group=kafka
Environment=LOG_DIR={{ kafka_zookeeper_log_directory }}
{% if ((kafka_zookeeper_sasl_enabled is defined) and (kafka_zookeeper_sasl_enabled != None) and (kafka_zookeeper_sasl_enabled == true)) %}
Environment=EXTRA_ARGS=-Djava.security.auth.login.config={{ kafka_zookeeper_etc_directory }}/conf/zookeeper-jaas.conf
{% endif %}
ExecStart=/opt/kafka/bin/zookeeper-server-start.sh {{ kafka_zookeeper_etc_directory }}/conf/zookeeper.properties
ExecStop=/opt/kafka/bin/zookeeper-server-stop.sh {{ kafka_zookeeper_etc_directory }}/conf/zookeeper.properties
Restart=always

[Install]
WantedBy=multi-user.target
