Client {
       org.apache.zookeeper.server.auth.DigestLoginModule required
       username="admin"
       password="{{ zookeeper_admin_user_password }}";
};

Server {
    org.apache.zookeeper.server.auth.DigestLoginModule required
    user_admin="{{ zookeeper_admin_user_password }}"
    user_kafka="{{ zookeeper_kafka_user_password }}";
};

