# {{ansible_managed}}

[Unit]
Description=ZooKeeper Service
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target
StartLimitBurst=360
StartLimitIntervalSec=3600

[Service]
Type=simple
User={{ kafka_config.zookeeper.user }}
Group={{ kafka_config.zookeeper.group }}
Environment="LOG_DIR={{ kafka_config.zookeeper.log_directory }}"
Environment="EXTRA_ARGS={% if prometheus_jmx_exporter.enabled|bool %}-javaagent:/opt/prometheus/lib/jmx_prometheus_javaagent.jar={{ kafka_config.zookeeper.prometheus_jmx_exporter.port }}:{{ kafka_config.zookeeper.etc_directory }}/conf/prometheus_jmx_exporter.yaml{% endif %} -Dzookeeper.jmx.log4j.disable=true -Djava.security.auth.login.config={{ kafka_config.zookeeper.etc_directory }}/conf/zookeeper-jaas.conf -Dzookeeper.superUser=admin {% if kafka_config.zookeeper.enable_remote_jmx|bool %}-Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.local.only=false -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname={{ inventory_hostname }} -Dcom.sun.management.jmxremote.port=9999 -Dcom.sun.management.jmxremote.rmi.port=9998{% endif %}"
ExecStart=/opt/kafka/bin/zookeeper-server-start.sh {{ kafka_config.zookeeper.etc_directory }}/conf/zookeeper.properties
ExecStop=/opt/kafka/bin/zookeeper-server-stop.sh {{ kafka_config.zookeeper.etc_directory }}/conf/zookeeper.properties
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target




