zookeeper.clientCnxnSocket=org.apache.zookeeper.ClientCnxnSocketNetty
zookeeper.ssl.client.enable=true
zookeeper.ssl.keystore.location={{ zookeeper_etc_directory }}/pki/{{ inventory_hostname_short }}.jks
zookeeper.ssl.keystore.password={{ zookeeper_keystore_password }}
zookeeper.ssl.truststore.location={{ zookeeper_etc_directory }}/pki/ca.jks
zookeeper.ssl.truststore.password={{ zookeeper_truststore_password }}
