
namespaceOverride: monitoring-system

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://prometheus-server.monitoring-system.svc.{{ k8s_config.cluster_domain }}:9090
      access: proxy
      isDefault: true

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 1
    memory: 256Mi

service:
{% if ((k8s_config.istio.enabled is defined) and (k8s_config.istio.enabled != None) and (k8s_config.istio.enabled == True)) %}
  port: 3000
  targetPort: 3000
{% else %}
  type: NodePort
  nodePort: 32500
  port: 3000
  targetPort: 3000
{% endif %}

sidecar:
  skipTlsVerify: true

  dashboards:
    resource: configmap
    enabled: true

  datasources:
    resource: configmap
    enabled: true

  resources:
    requests:
      cpu: 50m
      memory: 50Mi
    limits:
      cpu: 100m
      memory: 100Mi

admin:
  existingSecret: "grafana-admin-credentials"
  userKey: username
  passwordKey: password
