# See: https://github.com/jaegertracing/helm-charts/tree/master/charts/jaeger

provisionDataStore:
  cassandra: false
  elasticsearch: false

storage:
  type: elasticsearch
  elasticsearch:
    host: elasticsearch-master
    port: 9200
    scheme: http
    existingSecret: jaeger-elasticsearch-credentials

query:
  agentSidecar:
    enabled: false
  service:
{% if ((k8s_config.istio.enabled is defined) and (k8s_config.istio.enabled != None) and (k8s_config.istio.enabled == True)) %}
    port: 16686
    targetPort: 16686
{% else %}
    type: NodePort
    port: 16686
    targetPort: 16686
    nodePort: 32501
{% endif %}

collector:
  service:
    zipkin:
      port: 9411


{% if ((k8s_config.monitoring.elasticsearch.cluster_type == "standalone") or (k8s_config.monitoring.elasticsearch.cluster_type == "minimal")) %}
  cmdlineParams:
    es.num-replicas: "0"
    es.num-shards: "1"
    es-archive.num-replicas: "0"
    es-archive.num-shards: "1"
{% endif %}

# collector:
#   autoscaling:
#     enabled: false
#     minReplicas: 1
#     maxReplicas: 2
#     targetCPUUtilizationPercentage: 80

# esIndexCleaner:
#   enabled: false
#   numberOfDays: 7
#   schedule: "55 23 * * *"
#   successfulJobsHistoryLimit: 5
#   failedJobsHistoryLimit: 5

# query:
#   cmdlineParams:
#     es.tls.ca: "/tls/es.pem"
#   extraConfigmapMounts:
#     - name: jaeger-tls
#       mountPath: /tls
#       subPath: ""
#       configMap: jaeger-tls
#       readOnly: true
# collector:
#   cmdlineParams:
#     es.tls.ca: "/tls/es.pem"
#   extraConfigmapMounts:
#     - name: jaeger-tls
#       mountPath: /tls
#       subPath: ""
#       configMap: jaeger-tls
#       readOnly: true
# spark:
#   enabled: true
#   cmdlineParams:
#     java.opts: "-Djavax.net.ssl.trustStore=/tls/trust.store -Djavax.net.ssl.trustStorePassword=changeit"
#   extraConfigmapMounts:
#     - name: jaeger-tls
#       mountPath: /tls
#       subPath: ""
#       configMap: jaeger-tls
#       readOnly: true


