# See: https://github.com/helm/charts/blob/master/stable/prometheus/values.yaml


alertmanager:
  enabled: true

  persistentVolume:
    enabled: true
    accessModes:
      - ReadWriteOnce
    mountPath: /data
    size: {{ k8s_config.monitoring.prometheus.alert_manager.persistent_volume_size }}
    storageClass: {{ k8s_config.monitoring.prometheus.alert_manager.persistent_volume_storage_class_name }}

  service:
{% if ((k8s_config.istio.enabled is defined) and (k8s_config.istio.enabled != None) and (k8s_config.istio.enabled == True)) %}
    type: ClusterIP
    servicePort: 9093
{% else %}
    type: NodePort
    servicePort: 9093
    nodePort: 32504
{% endif %}

pushgateway:
  enabled: true

  service:
    type: ClusterIP
    servicePort: 9091

server:
  enabled: true

  retention: "12h"

  persistentVolume:
    enabled: true
    accessModes:
      - ReadWriteOnce
    mountPath: /data
    size: {{ k8s_config.monitoring.prometheus.server.persistent_volume_size }}
    storageClass: {{ k8s_config.monitoring.prometheus.server.persistent_volume_storage_class_name }}

  service:
{% if ((k8s_config.istio.enabled is defined) and (k8s_config.istio.enabled != None) and (k8s_config.istio.enabled == True)) %}
    type: ClusterIP
    servicePort: 9090
{% else %}
    type: NodePort
    servicePort: 9090
    nodePort: 32503
{% endif %}

  env:
  - name: JAEGER_AGENT_PORT
    value: "5755"

nodeExporter:
  tolerations:
  - key: "node-role.kubernetes.io/master"
    effect: "NoSchedule"


# alertmanager:
#   enabled: false
# alertmanagerFiles:
#   alertmanager.yml: ""
# kubeStateMetrics:
#   enabled: false
# nodeExporter:
#   enabled: false
# pushgateway:
#   enabled: false
# server:
#   extraArgs:
#     storage.local.retention: 720h
# serverFiles:
#   alerts: ""
#   prometheus.yml: ""
#   rules: ""
