# See: https://github.com/helm/charts/blob/master/stable/prometheus/values.yaml


alertmanager:
  enabled: true

  persistentVolume:
    enabled: true
    accessModes:
      - ReadWriteOnce
    mountPath: /data
    size: {{ k8s_monitoring_prometheus_alert_manager_persistent_volume_size }}
    storageClass: {{ k8s_monitoring_prometheus_persistent_volume_storage_class_name }}

  service:
    type: NodePort
    servicePort: 9093
    nodePort: 32504

pushgateway:
  enabled: true

  service:
    type: ClusterIP
    servicePort: 9091

server:
  enabled: true

  retention: "12h"

  persistentVolume:
    enabled: true
    accessModes:
      - ReadWriteOnce
    mountPath: /data
    size: {{ k8s_monitoring_prometheus_server_persistent_volume_size }}
    storageClass: {{ k8s_monitoring_prometheus_persistent_volume_storage_class_name }}

  service:
    type: NodePort
    servicePort: 9090
    nodePort: 32503


# alertmanager:
#   enabled: false
# alertmanagerFiles:
#   alertmanager.yml: ""
# kubeStateMetrics:
#   enabled: false
# nodeExporter:
#   enabled: false
# pushgateway:
#   enabled: false
# server:
#   extraArgs:
#     storage.local.retention: 720h
# serverFiles:
#   alerts: ""
#   prometheus.yml: ""
#   rules: ""
