{% raw %}
{
  "annotations": {
    "enable": false,
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "description": "",
  "editable": true,
  "gnetId": 10607,
  "graphTooltip": 1,
  "id": 3,
  "iteration": 1593639890588,
  "links": [],
  "panels": [
    {
      "collapsed": false,
      "datasource": null,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "id": 48,
      "panels": [],
      "title": "Status",
      "type": "row"
    },
    {
      "cacheTimeout": null,
      "colorBackground": false,
      "colorValue": false,
      "colors": [
        "#299c46",
        "rgba(237, 129, 40, 0.89)",
        "#d44a3a"
      ],
      "datasource": "prometheus",
      "description": "Quorum formed by zk nodes",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "format": "none",
      "gauge": {
        "maxValue": 100,
        "minValue": 0,
        "show": false,
        "thresholdLabels": false,
        "thresholdMarkers": true
      },
      "gridPos": {
        "h": 5,
        "w": 3,
        "x": 0,
        "y": 1
      },
      "id": 50,
      "interval": null,
      "links": [],
      "mappingType": 1,
      "mappingTypes": [
        {
          "name": "value to text",
          "value": 1
        },
        {
          "name": "range to text",
          "value": 2
        }
      ],
      "maxDataPoints": 100,
      "nullPointMode": "connected",
      "nullText": null,
      "postfix": "",
      "postfixFontSize": "50%",
      "prefix": "",
      "prefixFontSize": "50%",
      "rangeMaps": [
        {
          "from": "null",
          "text": "N/A",
          "to": "null"
        }
      ],
      "sparkline": {
        "fillColor": "rgba(31, 118, 189, 0.18)",
        "full": false,
        "lineColor": "rgb(31, 120, 193)",
        "show": false
      },
      "tableColumn": "",
      "targets": [
        {
          "WOW": [
            {
              "checked": false,
              "label": "-1W",
              "offset": 604800000
            },
            {
              "checked": false,
              "label": "-2W",
              "offset": 1209600000
            },
            {
              "checked": false,
              "label": "-3W",
              "offset": 1814400000
            }
          ],
          "aggregator": "COUNT",
          "dataNames": [],
          "dataTableColumns": [],
          "dataType": "METRICS",
          "dimensions": [],
          "expr": "avg(zookeeper_QuorumSize{job=\"$job\", cluster=\"$cluster\", node=~\"[[node]]\"})",
          "format": "time_series",
          "funcBy": "",
          "funcByType": "dimension",
          "groupByDimensions": [],
          "groupByValues": [],
          "intervalFactor": 1,
          "legendFormat": "",
          "refId": "A",
          "search": [],
          "values": []
        }
      ],
      "thresholds": "",
      "title": "Quorum Size",
      "type": "singlestat",
      "valueFontSize": "80%",
      "valueMaps": [
        {
          "op": "=",
          "text": "N/A",
          "value": "null"
        }
      ],
      "valueName": "avg"
    },
    {
      "cacheTimeout": null,
      "colorBackground": false,
      "colorValue": false,
      "colors": [
        "#299c46",
        "rgba(237, 129, 40, 0.89)",
        "#d44a3a"
      ],
      "datasource": "prometheus",
      "description": "Number of followers within the ensemble. You can deduce the number of servers from the MBeam Quorum Size.",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "format": "none",
      "gauge": {
        "maxValue": 100,
        "minValue": 0,
        "show": false,
        "thresholdLabels": false,
        "thresholdMarkers": true
      },
      "gridPos": {
        "h": 5,
        "w": 3,
        "x": 3,
        "y": 1
      },
      "id": 51,
      "interval": null,
      "links": [],
      "mappingType": 1,
      "mappingTypes": [
        {
          "name": "value to text",
          "value": 1
        },
        {
          "name": "range to text",
          "value": 2
        }
      ],
      "maxDataPoints": 100,
      "nullPointMode": "connected",
      "nullText": null,
      "postfix": "",
      "postfixFontSize": "50%",
      "prefix": "",
      "prefixFontSize": "50%",
      "rangeMaps": [
        {
          "from": "null",
          "text": "N/A",
          "to": "null"
        }
      ],
      "sparkline": {
        "fillColor": "rgba(31, 118, 189, 0.18)",
        "full": false,
        "lineColor": "rgb(31, 120, 193)",
        "show": false
      },
      "tableColumn": "",
      "targets": [
        {
          "WOW": [
            {
              "checked": false,
              "label": "-1W",
              "offset": 604800000
            },
            {
              "checked": false,
              "label": "-2W",
              "offset": 1209600000
            },
            {
              "checked": false,
              "label": "-3W",
              "offset": 1814400000
            }
          ],
          "aggregator": "COUNT",
          "dataNames": [],
          "dataTableColumns": [],
          "dataType": "METRICS",
          "dimensions": [],
          "expr": "avg(zookeeper_QuorumSize{job=\"$job\", cluster=\"$cluster\", node=~\"[[node]]\"}) -1 ",
          "format": "time_series",
          "funcBy": "",
          "funcByType": "dimension",
          "groupByDimensions": [],
          "groupByValues": [],
          "intervalFactor": 1,
          "refId": "A",
          "search": [],
          "values": []
        }
      ],
      "thresholds": "",
      "title": "Followers",
      "type": "singlestat",
      "valueFontSize": "80%",
      "valueMaps": [
        {
          "op": "=",
          "text": "N/A",
          "value": "null"
        }
      ],
      "valueName": "avg"
    },
    {
      "datasource": "prometheus",
      "fieldConfig": {
        "defaults": {
          "custom": {
            "align": null
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 16,
        "x": 6,
        "y": 1
      },
      "id": 58,
      "options": {
        "showHeader": false
      },
      "pluginVersion": "7.0.4",
      "targets": [
        {
          "expr": "zookeeper_AvgRequestLatency{job=\"$job\", cluster=\"$cluster\", node=~\"[[node]]\"}",
          "format": "table",
          "instant": true,
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "Member Types",
      "transformations": [
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "instance": true,
              "Time": true,
              "Value": true,
              "__name__": true,
              "cluster": true,
              "job": true,
              "replicaId": true
            },
            "indexByName": {},
            "renameByName": {
              "Time": "",
              "node": ""
            }
          }
        }
      ],
      "type": "table"
    },
    {
      "aliasColors": {},
      "annotate": {
        "enable": false
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "prometheus",
      "description": "The length of a single tick, which is the basic time unit used by ZooKeeper, as measured in milliseconds. It is used to regulate heartbeats, and timeouts. For example, the minimum session timeout will be two ticks.",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 0,
      "fillGradient": 0,
      "grid": {
        "max": null,
        "min": null
      },
      "gridPos": {
        "h": 5,
        "w": 22,
        "x": 0,
        "y": 6
      },
      "height": "160px",
      "hiddenSeries": false,
      "hideTimeOverride": false,
      "id": 56,
      "interactive": true,
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": false,
        "hideEmpty": true,
        "hideZero": true,
        "max": false,
        "min": false,
        "rightSide": true,
        "show": true,
        "sideWidth": null,
        "total": false,
        "values": false
      },
      "legend_counts": true,
      "lines": true,
      "linewidth": 5,
      "links": [],
      "nullPointMode": "null",
      "options": {
        "dataLinks": []
      },
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "resolution": 100,
      "scale": 1,
      "seriesOverrides": [],
      "spaceLength": 10,
      "spyable": true,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "avg(zookeeper_TickTime{job=\"$job\", cluster=\"$cluster\", node=~\"[[node]]\"}) by (node)",
          "format": "time_series",
          "intervalFactor": 2,
          "legendFormat": "{{node}}",
          "refId": "A",
          "target": "aliasByNode(zookeeper.cluster.$cluster.zookeeper.$zookeeper_hosts.zookeeper.AvgRequestLatency, 4, 6)"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "timezone": "browser",
      "title": "Health Check (Ticktime)",
      "tooltip": {
        "msResolution": true,
        "query_as_alias": true,
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "decimals": null,
          "format": "short",
          "label": "ticks",
          "logBase": 1,
          "max": null,
          "min": 0,
          "show": true
        },
        {
          "format": "short",
          "logBase": 1,
          "max": null,
          "min": null,
          "show": false
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      },
      "zerofill": true
    },
    {
      "collapsed": false,
      "datasource": null,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 11
      },
      "id": 44,
      "panels": [],
      "repeat": null,
      "title": "Zookeeper",
      "type": "row"
    },
    {
      "aliasColors": {},
      "annotate": {
        "enable": false
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "prometheus",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 0,
      "fillGradient": 0,
      "grid": {
        "max": null,
        "min": null
      },
      "gridPos": {
        "h": 4,
        "w": 12,
        "x": 0,
        "y": 12
      },
      "height": "160px",
      "hiddenSeries": false,
      "id": 34,
      "interactive": true,
      "legend": {
        "alignAsTable": false,
        "avg": false,
        "current": false,
        "hideEmpty": true,
        "hideZero": true,
        "max": false,
        "min": false,
        "rightSide": false,
        "show": true,
        "total": false,
        "values": false
      },
      "legend_counts": true,
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "options": {
        "dataLinks": []
      },
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "resolution": 100,
      "scale": 1,
      "seriesOverrides": [],
      "spaceLength": 10,
      "spyable": true,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "zookeeper_AvgRequestLatency{job=\"$job\", cluster=\"$cluster\", node=~\"[[node]]\"}",
          "format": "time_series",
          "intervalFactor": 2,
          "legendFormat": "{{node}}",
          "refId": "A",
          "target": "aliasByNode(zookeeper.cluster.$cluster.zookeeper.$zookeeper_hosts.zookeeper.AvgRequestLatency, 4, 6)"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "timezone": "browser",
      "title": "Avg Request Latency",
      "tooltip": {
        "msResolution": true,
        "query_as_alias": true,
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": "ticks",
          "logBase": 1,
          "max": null,
          "min": 0,
          "show": true
        },
        {
          "format": "short",
          "logBase": 1,
          "max": null,
          "min": null,
          "show": false
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      },
      "zerofill": true
    },
    {
      "aliasColors": {},
      "annotate": {
        "enable": false
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "prometheus",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 0,
      "fillGradient": 0,
      "grid": {
        "max": null,
        "min": null
      },
      "gridPos": {
        "h": 4,
        "w": 12,
        "x": 12,
        "y": 12
      },
      "height": "160px",
      "hiddenSeries": false,
      "id": 42,
      "interactive": true,
      "legend": {
        "alignAsTable": false,
        "avg": false,
        "current": false,
        "hideEmpty": true,
        "hideZero": true,
        "max": false,
        "min": false,
        "rightSide": false,
        "show": true,
        "total": false,
        "values": false
      },
      "legend_counts": true,
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "options": {
        "dataLinks": []
      },
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "resolution": 100,
      "scale": 1,
      "seriesOverrides": [],
      "spaceLength": 10,
      "spyable": true,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "zookeeper_InMemoryDataTree_NodeCount{job=\"$job\", cluster=\"$cluster\", node=~\"[[node]]\"}",
          "format": "time_series",
          "intervalFactor": 2,
          "legendFormat": "{{node}}",
          "refId": "A",
          "target": "aliasByNode(zookeeper.cluster.$cluster.zookeeper.$zookeeper_hosts.zookeeper.OutstandingRequests, 4, 6)"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "timezone": "browser",
      "title": "Znodes count",
      "tooltip": {
        "msResolution": true,
        "query_as_alias": true,
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "logBase": 1,
          "max": null,
          "min": 0,
          "show": true
        },
        {
          "format": "short",
          "logBase": 1,
          "max": null,
          "min": null,
          "show": false
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      },
      "zerofill": true
    },
    {
      "aliasColors": {},
      "annotate": {
        "enable": false
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "prometheus",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 0,
      "fillGradient": 0,
      "grid": {
        "max": null,
        "min": null
      },
      "gridPos": {
        "h": 4,
        "w": 12,
        "x": 0,
        "y": 16
      },
      "height": "160px",
      "hiddenSeries": false,
      "id": 6,
      "interactive": true,
      "legend": {
        "alignAsTable": false,
        "avg": false,
        "current": false,
        "hideEmpty": true,
        "hideZero": true,
        "max": false,
        "min": false,
        "rightSide": false,
        "show": true,
        "total": false,
        "values": false
      },
      "legend_counts": true,
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "options": {
        "dataLinks": []
      },
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "resolution": 100,
      "scale": 1,
      "seriesOverrides": [
        {
          "alias": "/MaxClientCnxnsPerHost/",
          "color": "#890F02",
          "fill": 0,
          "legend": false
        }
      ],
      "spaceLength": 10,
      "spyable": true,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "zookeeper_NumAliveConnections{job=\"$job\", cluster=\"$cluster\", node=~\"[[node]]\"}",
          "format": "time_series",
          "intervalFactor": 2,
          "legendFormat": "{{node}}",
          "refId": "A",
          "target": "aliasByNode(zookeeper.cluster.$cluster.zookeeper.$zookeeper_hosts.zookeeper.NumAliveConnections, 4, 6)"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "timezone": "browser",
      "title": "Connections",
      "tooltip": {
        "msResolution": true,
        "query_as_alias": true,
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "logBase": 1,
          "max": null,
          "min": 0,
          "show": true
        },
        {
          "format": "short",
          "logBase": 1,
          "max": null,
          "min": null,
          "show": false
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      },
      "zerofill": true
    },
    {
      "aliasColors": {},
      "annotate": {
        "enable": false
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "prometheus",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 0,
      "fillGradient": 0,
      "grid": {
        "max": null,
        "min": null
      },
      "gridPos": {
        "h": 4,
        "w": 12,
        "x": 12,
        "y": 16
      },
      "height": "160px",
      "hiddenSeries": false,
      "id": 41,
      "interactive": true,
      "legend": {
        "alignAsTable": false,
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "rightSide": false,
        "show": true,
        "total": false,
        "values": false
      },
      "legend_counts": true,
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "options": {
        "dataLinks": []
      },
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "resolution": 100,
      "scale": 1,
      "seriesOverrides": [],
      "spaceLength": 10,
      "spyable": true,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "zookeeper_PendingRevalidationCount{job=\"$job\", cluster=\"$cluster\", node=~\"[[node]]\"}",
          "format": "time_series",
          "intervalFactor": 2,
          "legendFormat": "{{node}}",
          "refId": "A",
          "target": "aliasByNode(zookeeper.cluster.$cluster.zookeeper.$zookeeper_hosts.zookeeper.OutstandingRequests, 4, 6)"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "timezone": "browser",
      "title": "Pending session revalidations",
      "tooltip": {
        "msResolution": true,
        "query_as_alias": true,
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "logBase": 1,
          "max": null,
          "min": 0,
          "show": true
        },
        {
          "format": "short",
          "logBase": 1,
          "max": null,
          "min": null,
          "show": false
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      },
      "zerofill": true
    },
    {
      "aliasColors": {},
      "annotate": {
        "enable": false
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "prometheus",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 0,
      "fillGradient": 0,
      "grid": {
        "max": null,
        "min": null
      },
      "gridPos": {
        "h": 4,
        "w": 12,
        "x": 0,
        "y": 20
      },
      "height": "160px",
      "hiddenSeries": false,
      "id": 35,
      "interactive": true,
      "legend": {
        "alignAsTable": false,
        "avg": false,
        "current": false,
        "hideEmpty": true,
        "hideZero": true,
        "max": false,
        "min": false,
        "rightSide": false,
        "show": true,
        "total": false,
        "values": false
      },
      "legend_counts": true,
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "options": {
        "dataLinks": []
      },
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "resolution": 100,
      "scale": 1,
      "seriesOverrides": [],
      "spaceLength": 10,
      "spyable": true,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "zookeeper_OutstandingRequests{job=\"$job\", cluster=\"$cluster\", node=~\"[[node]]\"}",
          "format": "time_series",
          "intervalFactor": 2,
          "legendFormat": "{{node}}",
          "refId": "A",
          "target": "aliasByNode(zookeeper.cluster.$cluster.zookeeper.$zookeeper_hosts.zookeeper.OutstandingRequests, 4, 6)"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "timezone": "browser",
      "title": "Outstanding Requests",
      "tooltip": {
        "msResolution": true,
        "query_as_alias": true,
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "logBase": 1,
          "max": null,
          "min": 0,
          "show": true
        },
        {
          "format": "short",
          "logBase": 1,
          "max": null,
          "min": null,
          "show": false
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      },
      "zerofill": true
    },
    {
      "aliasColors": {},
      "annotate": {
        "enable": false
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "prometheus",
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 0,
      "fillGradient": 0,
      "grid": {
        "max": null,
        "min": null
      },
      "gridPos": {
        "h": 4,
        "w": 12,
        "x": 12,
        "y": 20
      },
      "height": "160px",
      "hiddenSeries": false,
      "id": 43,
      "interactive": true,
      "legend": {
        "alignAsTable": false,
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "rightSide": false,
        "show": true,
        "total": false,
        "values": false
      },
      "legend_counts": true,
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "options": {
        "dataLinks": []
      },
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "resolution": 100,
      "scale": 1,
      "seriesOverrides": [],
      "spaceLength": 10,
      "spyable": true,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "zookeeper_InMemoryDataTree_WatchCount{job=\"$job\", cluster=\"$cluster\", node=~\"[[node]]\"}",
          "format": "time_series",
          "intervalFactor": 2,
          "legendFormat": "{{node}}",
          "refId": "A",
          "target": "aliasByNode(zookeeper.cluster.$cluster.zookeeper.$zookeeper_hosts.zookeeper.OutstandingRequests, 4, 6)"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "timezone": "browser",
      "title": "Watch count",
      "tooltip": {
        "msResolution": true,
        "query_as_alias": true,
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "logBase": 1,
          "max": null,
          "min": 0,
          "show": true
        },
        {
          "format": "short",
          "logBase": 1,
          "max": null,
          "min": null,
          "show": false
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      },
      "zerofill": true
    },
    {
      "collapsed": false,
      "datasource": null,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 24
      },
      "id": 45,
      "panels": [],
      "repeat": null,
      "title": "JVM",
      "type": "row"
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "prometheus",
      "editable": true,
      "error": false,
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 0,
      "fillGradient": 0,
      "grid": {},
      "gridPos": {
        "h": 7,
        "w": 12,
        "x": 0,
        "y": 25
      },
      "hiddenSeries": false,
      "id": 36,
      "legend": {
        "avg": false,
        "current": false,
        "hideEmpty": true,
        "hideZero": true,
        "max": false,
        "min": false,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 2,
      "links": [],
      "nullPointMode": "connected",
      "options": {
        "dataLinks": []
      },
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "increase(jvm_gc_collection_seconds_sum{job=\"$job\", cluster=\"$cluster\", node=~\"[[node]]\"}[5m])",
          "format": "time_series",
          "intervalFactor": 2,
          "legendFormat": "{{node}} {{gc}}",
          "refId": "A",
          "target": "aliasByNode(nonNegativeDerivative(zookeeper.cluster.$cluster.jvm_memory.$zookeeper_hosts.sun_management_GarbageCollectorImpl.PSScavenge.CollectionTime.upper), 4)"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "GC Time",
      "tooltip": {
        "msResolution": false,
        "shared": true,
        "sort": 0,
        "value_type": "cumulative"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "s",
          "label": "",
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "prometheus",
      "editable": true,
      "error": false,
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 0,
      "fillGradient": 0,
      "grid": {},
      "gridPos": {
        "h": 7,
        "w": 12,
        "x": 12,
        "y": 25
      },
      "hiddenSeries": false,
      "id": 39,
      "legend": {
        "avg": false,
        "current": false,
        "hideEmpty": true,
        "hideZero": true,
        "max": false,
        "min": false,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 2,
      "links": [],
      "nullPointMode": "connected",
      "options": {
        "dataLinks": []
      },
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "increase(jvm_gc_collection_seconds_count{job=\"$job\", cluster=\"$cluster\", node=~\"[[node]]\"}[5m])",
          "format": "time_series",
          "intervalFactor": 2,
          "legendFormat": "{{node}} {{gc}}",
          "refId": "A",
          "target": "aliasByNode(nonNegativeDerivative(zookeeper.cluster.$cluster.jvm_memory.$zookeeper_hosts.sun_management_GarbageCollectorImpl.PSMarkSweep.CollectionCount.upper), 4)"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "GC Count",
      "tooltip": {
        "msResolution": false,
        "shared": true,
        "sort": 0,
        "value_type": "cumulative"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": "",
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "prometheus",
      "editable": true,
      "error": false,
      "fieldConfig": {
        "defaults": {
          "custom": {}
        },
        "overrides": []
      },
      "fill": 0,
      "fillGradient": 0,
      "grid": {},
      "gridPos": {
        "h": 7,
        "w": 24,
        "x": 0,
        "y": 32
      },
      "hiddenSeries": false,
      "id": 40,
      "legend": {
        "avg": false,
        "current": false,
        "hideEmpty": true,
        "hideZero": true,
        "max": false,
        "min": false,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 2,
      "links": [],
      "nullPointMode": "connected",
      "options": {
        "dataLinks": []
      },
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "expr": "jvm_memory_bytes_used{job=\"$job\", cluster=\"$cluster\", node=~\"[[node]]\", area=\"heap\"}",
          "format": "time_series",
          "intervalFactor": 2,
          "legendFormat": "{{node}} used",
          "refId": "A",
          "target": "aliasByNode(zookeeper.cluster.$cluster.jvm_memory.$zookeeper_hosts.memory.HeapMemoryUsage_used.upper, 4, 6)"
        },
        {
          "expr": "jvm_memory_bytes_max{job=\"$job\", cluster=\"$cluster\", node=~\"[[node]]\", area=\"heap\"}",
          "format": "time_series",
          "intervalFactor": 2,
          "legendFormat": "{{node}} max",
          "refId": "C",
          "target": "aliasByNode(zookeeper.cluster.$cluster.jvm_memory.$zookeeper_hosts.memory.HeapMemoryUsage_max.upper, 4, 6)"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Heap Used vs Max",
      "tooltip": {
        "msResolution": false,
        "shared": true,
        "sort": 0,
        "value_type": "cumulative"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "bytes",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    }
  ],
  "refresh": "1m",
  "schemaVersion": 25,
  "style": "light",
  "tags": [],
  "templating": {
    "list": [
      {
        "current": {
          "selected": false,
          "text": "zookeeper",
          "value": "zookeeper"
        },
        "hide": 2,
        "label": "Job",
        "name": "job",
        "query": "zookeeper",
        "skipUrlSync": false,
        "type": "constant"
      },
      {
        "allValue": "",
        "current": {
          "selected": false,
          "text": "local_dev",
          "value": "local_dev"
        },
        "datasource": "prometheus",
        "definition": "query_result(zookeeper_AvgRequestLatency{job=\"zookeeper\"})",
        "hide": 0,
        "includeAll": false,
        "label": "Cluster",
        "multi": false,
        "name": "cluster",
        "options": [],
        "query": "query_result(zookeeper_AvgRequestLatency{job=\"zookeeper\"})",
        "refresh": 2,
        "regex": ".*cluster=\\\"([^\\\"]+)\\\".*",
        "skipUrlSync": false,
        "sort": 0,
        "tagValuesQuery": "",
        "tags": [],
        "tagsQuery": "",
        "type": "query",
        "useTags": false
      },
      {
        "allFormat": "glob",
        "allValue": "",
        "current": {
          "selected": true,
          "tags": [],
          "text": "All",
          "value": [
            "$__all"
          ]
        },
        "datasource": "prometheus",
        "definition": "label_values(process_start_time_seconds{job=\"$job\", cluster=\"$cluster\"}, node)",
        "hide": 0,
        "includeAll": true,
        "label": "Node",
        "multi": true,
        "multiFormat": "glob",
        "name": "node",
        "options": [],
        "query": "label_values(process_start_time_seconds{job=\"$job\", cluster=\"$cluster\"}, node)",
        "refresh": 2,
        "refresh_on_load": false,
        "regex": "/[^:]/",
        "skipUrlSync": false,
        "sort": 0,
        "tagValuesQuery": null,
        "tags": [],
        "tagsQuery": null,
        "type": "query",
        "useTags": false
      }
    ]
  },
  "time": {
    "from": "now-15m",
    "to": "now"
  },
  "timepicker": {
    "collapse": false,
    "enable": true,
    "notice": false,
    "now": true,
    "refresh_intervals": [
      "1m",
      "5m",
      "1h",
      "1d"
    ],
    "status": "Stable",
    "time_options": [
      "5m",
      "15m",
      "1h",
      "6h",
      "12h",
      "24h",
      "2d",
      "7d",
      "30d"
    ],
    "type": "timepicker"
  },
  "timezone": "utc",
  "title": "Zookeeper",
  "uid": "YLEOucMMk",
  "version": 1
}
{% endraw %}