<config version="v1">
  <chain template="file-system"/>
  <provider id="file-system" type="file-system">
    <baseDataDir>{{ artifactory_config.data_directory }}/filestore</baseDataDir>
  </provider>
</config>
