Client {
       org.apache.zookeeper.server.auth.DigestLoginModule required
       username="{{ confluent_config.zookeeper.users.admin.username }}"
       password="{{ zookeeper_admin_user_password }}";
};

Server {
    org.apache.zookeeper.server.auth.DigestLoginModule required
    user_{{ confluent_config.zookeeper.users.admin.username }}="{{ zookeeper_admin_user_password }}"
    user_{{ confluent_config.zookeeper.users.kafka.username }}="{{ zookeeper_kafka_user_password }}";
};
