# {{ansible_managed}}

[Unit]
Description=Confluent ZooKeeper Service
Documentation=https://confluent_config.io
Requires=network.target remote-fs.target
After=network.target remote-fs.target
StartLimitBurst=360
StartLimitIntervalSec=3600

[Service]
Type=simple
User={{ confluent_config.zookeeper.user }}
Group={{ confluent_config.zookeeper.group }}
Environment="LOG_DIR={{ confluent_config.zookeeper.log_directory }}"
Environment="EXTRA_ARGS={% if prometheus_jmx_exporter.enabled|bool %}-javaagent:/opt/prometheus/lib/jmx_prometheus_javaagent.jar={{ confluent_config.zookeeper.prometheus_jmx_exporter.port }}:{{ confluent_config.zookeeper.etc_directory }}/conf/prometheus_jmx_exporter.yaml{% endif %} -Dzookeeper.jmx.log4j.disable=true -Djava.security.auth.login.config={{ confluent_config.zookeeper.etc_directory }}/conf/zookeeper-jaas.conf -Dzookeeper.superUser=admin {% if confluent_config.zookeeper.enable_remote_jmx|bool %}-Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.local.only=false -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname={{ inventory_hostname }} -Dcom.sun.management.jmxremote.port=9999 -Dcom.sun.management.jmxremote.rmi.port=9998{% endif %}"
ExecStart=/opt/confluent/bin/zookeeper-server-start {{ confluent_config.zookeeper.etc_directory }}/conf/zookeeper.properties
ExecStop=/opt/confluent/bin/zookeeper-server-stop {{ confluent_config.zookeeper.etc_directory }}/conf/zookeeper.properties
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
