apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: monitoring
  namespace: monitoring-system
spec:
  version: 7.6.1
  count: 1
  elasticsearchRef:
    name: monitoring

  http:
      tls:
        selfSignedCertificate:
          disabled: true

# 
# NodePort with TLS
#  
#   http:
#     service:
#       spec:
#         type: NodePort
#         ports:
#         - name: https
#           nodePort: 32550
#           port: 5601
#           protocol: TCP
#           targetPort: 5601
#     tls:
#       certificate:
#         secretName: monitoring-certs
# 
#   config:
#     elasticsearch.ssl.certificateAuthorities: /etc/certs/ca.pem

  podTemplate:
    spec:
#       volumes:
#       - name: monitoring-ca-certs
#         secret:
#           secretName: monitoring-ca-certs
      containers:
      - name: kibana
#         volumeMounts:
#         - name: monitoring-ca-certs
#           mountPath: /etc/certs
#           readOnly: true
        resources:
          requests:
            cpu: "100m"
            memory: "384Mi"
          limits:
            cpu: "1"          
            memory: "1Gi"

