{
  "kind" : "Policy",
  "apiVersion" : "v1",
  "extenders" :
    [
    
{% if ((k8s_config.storage.topolvm.enabled is defined) and (k8s_config.storage.topolvm.enabled != None) and (k8s_config.storage.topolvm.enabled == true))  %}    
    
    {
{% if ('k8s_master' in groups) %}
      "urlPrefix": "http://127.0.0.1:9251",
{% endif %}

{% if ('k8s_master' not in groups) %}
      "urlPrefix": "http://topolvm-scheduler.topolvm-system:9251",
{% endif %}

      "filterVerb": "predicate",
      "prioritizeVerb": "prioritize",
      "nodeCacheCapable": false,
      "weight": 1,
      "managedResources":
      [{
        "name": "topolvm.cybozu.com/capacity",
        "ignoredByScheduler": true
      }]
    }
    
{% endif %}


    ]
}
