
service:
  ui:
    type: NodePort
    nodePort: 32520

persistence:
  defaultClass: true
  defaultClassReplicaCount: 1


{% if (('k8s_worker' in groups) and ((groups['k8s_worker'] | length) > 3)) %}
csi:
  attacherReplicaCount: 1
  provisionerReplicaCount: 1
  resizerReplicaCount: 1
{% else %}
csi:
  attacherReplicaCount: 3
  provisionerReplicaCount: 3
  resizerReplicaCount: 3
{% endif %}
