# {{ansible_managed}}

{% set initial_cluster_hosts = [] -%}
{% for host in etcd_config.clusters[etcd_cluster_name].hosts -%}
  {% set _ = initial_cluster_hosts.append("%s=https://%s:2380" % (hostvars[host].ansible_hostname, host)) -%}
{% endfor -%}

[Unit]
Description=etcd - highly-available key value store
Documentation=https://github.com/coreos/etcd
After=network.target
Wants=network-online.target

[Service]
Environment=DAEMON_ARGS=
Environment=ETCD_NAME={{ ansible_hostname }}
Environment=ETCD_DATA_DIR=/var/lib/etcd/default
EnvironmentFile=-/etc/default/%p
Type=notify
User=etcd
PermissionsStartOnly=true
ExecStart=/usr/bin/etcd $DAEMON_ARGS \
  --cert-file=/etc/etcd/pki/etcd-{{ etcd_cluster_name.replace('_', '-') }}.crt \
  --key-file=/etc/etcd/pki/etcd-{{ etcd_cluster_name.replace('_', '-') }}.key \
  --peer-cert-file=/etc/etcd/pki/{{ ansible_hostname }}.crt \
  --peer-key-file=/etc/etcd/pki/{{ ansible_hostname }}.key \
  --trusted-ca-file=/etc/etcd/pki/etcd-ca-{{ etcd_cluster_name.replace('_', '-') }}.crt \
  --peer-trusted-ca-file=/etc/etcd/pki/etcd-ca-{{ etcd_cluster_name.replace('_', '-') }}.crt \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ ansible_fqdn }}:2380 \
  --listen-peer-urls https://{{ (ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0])) }}:2380 \
  --listen-client-urls https://127.0.0.1:2379,https://{{ (ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0])) }}:2379 \
  --advertise-client-urls https://{{ ansible_fqdn }}:2379 \
  --initial-cluster-token etcd-{{ etcd_cluster_name.replace('_', '-') }}-cluster \
  --initial-cluster {{ initial_cluster_hosts | join(',') }} \
  --initial-cluster-state new
Restart=always
RestartSec=10s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
Alias=etcd2.service


