# {{ansible_managed}}

[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
Requires=network.target syslog.target
After=network.target syslog.target

[Service]
Restart=always
RestartSec=5s
User={{ prometheus_server_config.user }}
EnvironmentFile=/etc/default/prometheus
ExecStart=/usr/bin/prometheus $ARGS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
