# {{ansible_managed}}

[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/

[Service]
Restart=always
User={{ prometheus_server_config.user }}
EnvironmentFile=/etc/default/prometheus
ExecStart=/usr/bin/prometheus $ARGS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
