[Unit]
Description=OpenBSD Secure Shell server key generation
Before=ssh.service
ConditionPathExists=!/etc/ssh/ssh_host_rsa_key

[Service]
Environment=DEBIAN_FRONTEND=noninteractive
Type=oneshot
ExecStart=/usr/sbin/dpkg-reconfigure --force openssh-server 

[Install]
WantedBy=multi-user.target
Alias=sshd-keygen.service
