global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
{% if ((prometheus_alert_manager_config.repeat_interval is defined) and (prometheus_alert_manager_config.repeat_interval != None) and (prometheus_alert_manager_config.repeat_interval != '')) %}
  repeat_interval: {{ prometheus_alert_manager_config.repeat_interval }}
{% else -%}
  repeat_interval: 1h
{% endif %}  
  receiver: default-receiver
  
receivers:
- name: default-receiver
{% if ((prometheus_alert_manager_config.prometheus_msteams_url is defined) and (prometheus_alert_manager_config.prometheus_msteams_url != None) and (prometheus_alert_manager_config.prometheus_msteams_url != '')) %}
  webhook_configs:
  - url: "http://localhost:2000/alertmanager"
    send_resolved: true

{% endif %}


