ARGS="-teams-request-uri alertmanager -template-file {{ prometheus_alert_manager_config.prometheus_msteams_etc_directory }}/card.tmpl -teams-incoming-webhook-url '{{ prometheus_alert_manager_config.prometheus_msteams_url }}'"


